.DS_Store
.env
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
public/wp-config.php
public/wp-content/advanced-cache.php
public/wp-content/backup-db/
public/wp-content/backups/
public/wp-content/blogs.dir/
public/wp-content/cache/
public/wp-content/upgrade/
public/wp-content/uploads/
public/wp-content/mu-plugins/
public/wp-content/wp-cache-config.php
public/wp-content/plugins/hello.php
public/wp-content/themes/twenty*/
vendor/
.idea/
*.iml
