# WordPress 核心文件
public/wp-admin/
public/wp-includes/
public/wp-*/upgrade/
public/wp-*/backup-db/
public/wp-*/backups/
public/wp-*/cache/
public/wp-*/upgrade/
public/wp-content/uploads/
public/wp-content/themes/twenty*/
public/wp-content/upgrade/
public/wp-content/backup-db/
public/wp-content/advanced-cache.php
public/wp-content/wp-cache-config.php

# 配置文件
.env
.env.*
!.env.example
public/wp-config.php
public/.htaccess

# 依赖目录
/vendor/
node_modules/

# 日志文件
*.log
error_log
access_log
debug.log

# 操作系统文件
.DS_Store
Thumbs.db
.tmp
.sass-cache

# IDE文件
.idea/
*.iml
*.iws
.vscode/
*.sublime-workspace
*.sublime-project

# 其他
*.sql
*.sql.gz
.htpasswdgit 